<div
  class="flex h-full min-h-screen w-full flex-col items-center justify-center bg-gray-200 dark:bg-gray-800"
>
  <div
    class="flex w-full items-center justify-center text-2xl text-gray-800 sm:w-full md:w-full lg:w-full lg:text-4xl xl:w-4/5 dark:text-gray-200"
  >
    古诗翻翻看
  </div>
  <div
    class="mt-5 flex h-full w-full flex-wrap items-center justify-center sm:w-full md:w-full lg:w-full xl:w-4/5"
  >
    <div
      class="flex h-[720px] w-full items-center justify-center px-5 py-5 md:w-9/10 xl:w-3/5"
    >
      <div
        class="flex h-full w-full flex-col items-center justify-center rounded-md border border-solid border-gray-100 bg-stone-50 dark:border-gray-500 dark:bg-gray-600"
      >
        <div class="my-3 flex w-full items-center justify-center">
          <div class="-mt-10 mb-10 text-base text-gray-800 dark:text-gray-200">
            步数：{{ steps() }}
          </div>
        </div>
        @if (poetry()) {
          <div class="grid grid-cols-5 gap-1 select-none md:gap-2">
            @for (cell of cells(); track $index; let idx = $index) {
              <div
                (click)="clickCell(idx)"
                [ngClass]="{
                  'cursor-pointer': !cell.isPinned,
                  'cursor-default': cell.isPinned,
                  'p-3 text-3xl md:text-5xl lg:text-5xl': cell.isOpened,
                }"
                class="flex cursor-pointer items-center justify-center"
              >
                @if (cell.isOpened) {
                  <div
                    class="font-serif"
                    [ngClass]="{
                      'cursor-default text-teal-300 dark:text-teal-400':
                        cell.isPinned,
                      'text-gray-800 dark:text-gray-300': !cell.isPinned,
                    }"
                  >
                    {{ cell.character }}
                  </div>
                } @else {
                  <!-- 棋子容器 -->
                  <div
                    class="relative h-20 w-20 rounded-full border-t-2 border-r-2 border-b-2 border-l-2 border-slate-400 bg-gradient-to-br from-slate-300 to-slate-500 shadow-[0_8px_30px_rgba(0,0,0,0.12)] transition-all hover:scale-105 hover:shadow-lg dark:border-slate-300"
                  >
                    <!-- 高光效果 -->
                    <div
                      class="absolute top-1 left-1 h-6 w-6 rounded-full bg-gradient-to-br from-white/40 to-transparent mix-blend-soft-light"
                    ></div>

                    <!-- 反光效果 -->
                    <div
                      class="absolute right-2 bottom-2 h-4 w-4 rounded-full bg-gradient-to-br from-white/30 to-transparent mix-blend-soft-light"
                    ></div>
                  </div>
                }
              </div>
            }
          </div>
        } @else {
          <div class="w-full px-2 py-5 text-2xl md:px-5 xl:px-10">
            请选择一首诗词
          </div>
        }
      </div>
    </div>
    <div
      class="flex h-[720px] w-full items-center justify-center px-5 py-5 font-serif md:w-9/10 xl:w-2/5"
    >
      <div
        class="flex h-full w-full flex-col items-start justify-start rounded-md border border-solid border-gray-300 bg-white dark:border-gray-500 dark:bg-gray-700"
      >
        @if (poetry()) {
          <div
            class="flex w-full items-center justify-center px-2 py-5 text-4xl text-gray-800 md:px-5 xl:px-10 dark:text-gray-200"
          >
            {{ poetry()?.title }}
          </div>
          <div
            class="flex w-full items-center justify-center px-2 py-3 text-base text-gray-600 md:px-5 xl:px-10 dark:text-gray-200"
          >
            {{ poetry()?.author }}
          </div>
          <div class="h-1 w-full px-2 md:px-5 xl:px-10">
            <div class="border-b border-solid border-gray-300"></div>
          </div>
          @if (finishedParagraphs) {
            <div class="mt-2 w-full">
              @for (item of finishedParagraphs; track $index) {
                <div
                  class="mt-1 flex h-[40px] w-full items-center justify-center px-2 text-2xl tracking-widest text-gray-800 md:px-5 xl:px-10 dark:text-gray-100"
                >
                  {{ item }}
                </div>
                <div
                  class="flex h-1 w-full items-center justify-center px-2 md:px-5 xl:px-10"
                >
                  <div
                    class="w-[160px] border-b border-solid border-gray-300"
                  ></div>
                </div>
              }
            </div>
          }
          @if (isCompleted()) {
            <div class="mt-5 px-2 py-3 md:px-5 xl:px-10">
              <div class="text-2xl text-gray-800 dark:text-gray-100">
                诗词赏析
              </div>
            </div>
            <div class="h-1 w-full px-2 md:px-5 xl:px-10">
              <div class="border-b border-solid border-gray-300"></div>
            </div>
            <div
              class="mt-5 flex w-full items-center justify-start px-2 text-base tracking-widest text-gray-800 md:px-5 xl:px-10 dark:text-gray-100"
            >
              {{ poetry()?.desc }}
            </div>
          }
        } @else {
          <div class="w-full px-2 py-5 text-2xl md:px-5 xl:px-10">
            请选择一首诗词
          </div>
        }
      </div>
    </div>
  </div>
</div>

@if (showSuccess()) {
  <app-scatter-flowers></app-scatter-flowers>
}
