<div
  class="flex h-full min-h-screen w-full flex-col items-center justify-center bg-gray-200 dark:bg-gray-800"
>
  <div
    class="my-5 flex w-full items-center justify-center text-2xl text-gray-800 sm:w-full md:w-full lg:w-full lg:text-4xl xl:w-4/5 dark:text-gray-200"
  >
    <div>古诗翻翻看</div>
    <div class="cursor-help" (click)="showHelp = true">
      <img class="block dark:hidden" src="assets/icon/help.day.svg" />
      <img class="hidden dark:block" src="assets/icon/help.night.svg" />
    </div>
  </div>

  <!-- <div
    class="mt-5 flex h-full w-full flex-wrap items-center justify-center gap-5 sm:w-full md:w-full lg:w-full xl:w-4/5"
  >
    @for (p of poetryList(); track $index) {
      <div
        (click)="startGame(p.title)"
        class="flex max-h-[300px] min-h-[240px] max-w-[480px] min-w-[360px] transform cursor-pointer flex-col items-center justify-center rounded-xl border border-solid border-gray-300 bg-gray-50 transition duration-200 hover:scale-105 hover:shadow-xl dark:border-gray-600 dark:bg-gray-700"
      >
        <div
          class="flex w-full items-center justify-center text-2xl text-gray-700 dark:text-gray-300"
        >
          {{ p.title }}
        </div>
        <div
          class="flex w-full items-center justify-center text-sm text-gray-600 dark:text-gray-300"
        >
          {{ p.author }}
        </div>
        <div
          class="my-2 flex w-full flex-col items-center justify-center text-base text-gray-500 dark:text-gray-400"
        >
          @for (item of p.paragraphs; track $index) {
            <div class="mt-1 flex w-full items-center justify-center text-xl">
              {{ item }}
            </div>
          }
        </div>
      </div>
    }
  </div> -->
  <div
    class="mb-10 grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3"
  >
    @for (p of poetryList(); track $index) {
      <div
        (click)="startGame(p.title)"
        class="flex max-h-[300px] min-h-[240px] max-w-[480px] min-w-[360px] transform cursor-pointer flex-col items-center justify-center rounded-xl border border-solid border-gray-300 bg-gray-50 transition duration-200 hover:scale-105 hover:shadow-xl dark:border-gray-600 dark:bg-gray-700"
      >
        <div
          class="flex w-full items-center justify-center text-2xl text-gray-700 dark:text-gray-300"
        >
          {{ p.title }}
        </div>
        <div
          class="flex w-full items-center justify-center text-sm text-gray-600 dark:text-gray-300"
        >
          {{ p.author }}
        </div>
        <div
          class="my-2 flex w-full flex-col items-center justify-center text-base text-gray-500 dark:text-gray-400"
        >
          @for (item of p.paragraphs; track $index) {
            <div class="mt-1 flex w-full items-center justify-center text-xl">
              {{ item }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

<div
  *ngIf="showHelp"
  class="fixed top-0 left-0 z-50 flex h-full w-full items-center justify-center text-gray-200 backdrop-blur-2xl"
>
  <button
    class="absolute top-5 right-5 cursor-pointer text-gray-800 dark:text-gray-200"
    (click)="showHelp = false"
  >
    关闭
  </button>
  <div
    class="mx-2 my-2 flex max-h-[500px] min-h-[340px] w-full max-w-[680px] min-w-[360px] flex-col items-start justify-start rounded-2xl bg-gray-300 p-10 dark:bg-gray-600"
  >
    <div class="text-3xl text-gray-800 dark:text-gray-100">游戏玩法：</div>
    <ul class="mt-5 list-decimal pl-5 text-xl text-gray-800 dark:text-gray-100">
      <li class="mt-3">选择一首古诗，进入游戏页面</li>
      <li class="mt-3">
        点击左侧棋盘，打开棋子，当打开的棋子能够组成诗中的诗句时，完成诗句的配对。
      </li>
      <li class="mt-3">如果点开的棋子不能组成诗句，棋子会自动关闭。</li>
      <li class="mt-3">当所有诗句都完成配对时，游戏完成。</li>
    </ul>
  </div>
</div>
